<nav>
  <ul>
    <li>
      {{#link-to 'books.new'}}New Book{{/link-to}}
    </li>
  </ul>
</nav>

{{#each model as |book|}}
  {{#unless book.isNew}}
    <div class="book">
      <h2>
        {{#link-to 'books.edit' book}}
          {{ book.title }} - <span class="author">{{ book.author }}</span>
        {{/link-to}}
      </h2>
    </div>
  {{/unless}}
{{/each}}
