{{#mdl-nav title='Book Library' fixedHeader=true}}
  {{mdl-nav-item name='All Books' route='books.index'}}
  {{mdl-nav-item name='New Book' route='books.new'}}

  <div class="mdl-grid">
    {{outlet}}
  </div>
{{/mdl-nav}}
